RESULTS/PROB/1/*
RESULTS/PROB/2/*
RESULTS/PROB/3/*
RESULTS/PROB/4/*
RESULTS/PROB/5/*

!RESULTS/PROB/1/.gitkeep
!RESULTS/PROB/2/.gitkeep
!RESULTS/PROB/3/.gitkeep
!RESULTS/PROB/4/.gitkeep
!RESULTS/PROB/5/.gitkeep

CV/1/*
CV/2/*
CV/3/*
CV/4/*
CV/5/*


!CV/1/.gitkeep
!CV/2/.gitkeep
!CV/3/.gitkeep
!CV/4/.gitkeep
!CV/5/.gitkeep

.DS_Store
data/*

!data/.gitkeep
